<ion-header color="gpsc">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Daily Report' | translate}}</ion-title>
    <ion-buttons end>
      <ion-datetime class="dateStyle" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater"
        [max]="today" [(ngModel)]="to" (ionChange)="getDailyReportData()"></ion-datetime>
    </ion-buttons>
    <ion-buttons end *ngIf="deviceReport.length > 0">
      <button ion-button icon-only style="color: #fff;" small (click)="OnClick()">
        <img style="width: 20px;" type="image/svg+xml" src="assets/icon/microsoft-office-mac-tilt-excel-icon-17.svg"
          *ngIf="pltStr === 'ios'">
        <ion-icon name="custom-excel" *ngIf="pltStr !== 'ios'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item style="height: 45px; background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{'Select Vehicle' | translate}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getSelectedId(selectedVehicle)" [isMultiple]="true">
    </select-searchable>
  </ion-item>
</ion-header>

<ion-content class="printable-area" id="printable-area">

  <ion-card *ngFor="let item of deviceReport">
    <!-- <ion-item style="border-bottom: 2px solid #dedede;"> -->
    <ion-card-content>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/car_blue_icon.png" style="height: 40px; width: 40px;" />
        </ion-col>
        <ion-col col-9>
          <p style="color:black; font-size:16px;margin-top: 8px;">
            {{ item.Device_Name }}
          </p>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-3>
          <p style="color:gray;font-size:11px;  font-weight:400;">
            <span *ngIf="item.today_running">{{ item.today_running }}</span>
            <span *ngIf="!item.today_running">00.00</span>&nbsp;
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="color:gray;font-size:11px;   font-weight:400;">
            <span *ngIf="item.today_stopped">{{ item.today_stopped }}</span>
            <span *ngIf="!item.today_stopped">00.00</span>&nbsp;
          </p>
        </ion-col>


        <ion-col col-3>
          <p style="color:gray;font-size:11px;   font-weight:400;">
            <span *ngIf="item.t_idling">{{ item.t_idling }}</span>
            <span *ngIf="!item.t_idling">00.00</span>&nbsp;
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="color:gray;font-size:11px;   font-weight:400;">
            <span *ngIf="item.t_ofr">{{ item.t_ofr }}</span>
            <span *ngIf="!item.t_ofr">00.00</span>&nbsp;
          </p>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-3>
          <p style="color:#53ab53;font-size:11px;font-weight: bold;">
            {{'Running' | translate}}
          </p>

        </ion-col>
        <ion-col col-3>
          <p style="font-size: 11px;color:red; font-weight:bold;">
            {{'Stop' | translate}}
          </p>

        </ion-col>


        <ion-col col-3>
          <p style="font-size: 11px;color:#e6c917;  font-weight:bold;">
            Idle
          </p>

        </ion-col>
        <ion-col col-3>
          <p style="color:#009688;font-size: 11px;font-weight: bold;">
            {{'Out of reach' | translate}}
          </p>

        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-3>
          <p style="color:gray;font-size:11px;  font-weight: 400;">
            <span *ngIf="item.today_odo">{{
              item.today_odo | number: "1.0-2"
            }}{{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}</span>
            <span *ngIf="!item.today_odo">00.00
              {{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}</span>&nbsp;
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="color:gray;font-size:11px;  font-weight:400;">
            <span
              *ngIf="item.maxSpeed">{{ item.maxSpeed }}{{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate)}}</span>
            <span
              *ngIf="!item.maxSpeed">00.00{{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate)}}</span>&nbsp;
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="color:gray;font-size:11px;   font-weight: 400;">
            <span *ngIf="item.today_trips">{{ item.today_trips }}</span>
            <span *ngIf="!item.today_trips">00.00</span>&nbsp;
          </p>
        </ion-col>

        <ion-col col-3>
          <p style="color:gray;font-size:11px;   font-weight:400;">
            <span>{{ item.mileage }}{{ (measurementUnit == 'MKS') ? ("Litre" | translate) : ("Gallon" | translate)}}</span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-3>
          <p style="color:#009688;font-size: 11px;font-weight: bold;">
            {{'Distance' | translate}}
          </p>

        </ion-col>
        <ion-col col-3>
          <p style="color:#009688;font-size: 11px;font-weight: bold;">
            {{'Max Speed' | translate}}
          </p>

        </ion-col>
        <ion-col col-3>
          <p style="font-size: 11px;color:#11c1f3;  font-weight:bold;">
            {{'Trips' | translate}}
          </p>

        </ion-col>

        <ion-col col-3>
          <p style="color:#009688;font-size: 11px;font-weight: bold; ">
            {{'Fuel Con' | translate}}
          </p>

        </ion-col>
      </ion-row>
    </ion-card-content>
    <!-- </ion-item> -->
  </ion-card>
  <!-- </div>
  </div> -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>